/* Body Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

/* Header Styles */
header {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bank-name {
    font-size: 24px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

/* Main Styles */
main {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

h1 {
    color: #4CAF50;
    margin-top: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    margin-bottom: 20px;
}

h2 {
    color: #4CAF50;
    margin-top: 0;
}

p {
    margin-top: 0;
}

/* Footer Styles */
footer {
    background-color: #ddd;
    padding: 10px;
    text-align: center;
}